<div style=" display: flex; align-items: center; justify-content: center; min-height: 100%;">
    <div style=" flex-direction: column;">
        <svg id="svg">
            <g>
              <rect x="0" y="0" [attr.width] = "svgDimension.Width" [attr.height]="svgDimension.Height"
                [attr.fill]="fillColor" (click)="changeColor()" 
                [innerText]=""
                style="color: white;"
                />
               <text x="0" y="50">Perimeter = {{getPerimenter(svgDimension.Width, svgDimension.Height)}}</text> 
               <!-- <text x="120" y="50">Click the rectangle to change the fill color</text>  -->
            
            </g>
        </svg>
    </div>
    

    <div>
        <div class="mb-3" style="color: green;">
            <label for="wRange" class="form-label">Perimeter: {{getPerimenter(svgDimension.Width, svgDimension.Height)}}</label>
        </div> <br>
        <div class="mb-3">
            <label for="wRange" class="form-label">Width({{svgDimension.Width}}): </label>
            <input type="range"  class="form-control" min="10" max="500" [attr.formControl]="wRange" [attr.value] = "svgDimension.Width" (input)="widthChanged($event)">
        </div>
        
        <div class="mb-3">
            <label for="wRange" class="form-label">Height({{svgDimension.Height}}): </label>
            <input type="range"  class="form-control" min="10" max="500" [attr.formControl]="hRange" [attr.value] = "svgDimension.Height" (input)="heightChanged($event)">
        </div>
    </div>
</div>